<div class="authorizations">
  <a href="/auth/google">
    Identifícate usando tu<br/> cuenta de Google<br/>
    <%= image_tag('https://github.com/intridea/authbuttons/raw/master/png/google_64.png') %>
  </a>
  <a href="/auth/twitter">
    Identifícate usando tu<br/> cuenta de Twitter<br/>
    <%= image_tag('https://github.com/intridea/authbuttons/raw/master/png/twitter_64.png') %>
  </a>
</div>