<div class="authorizations">
  <a href="/auth/google">
    Identifícate usando tu<br/> cuenta de Google<br/>
    <%= image_tag('authbuttons/google_64.png', :width => 64, :height => 64) %>
  </a>
  <a href="/auth/twitter">
    Identifícate usando tu<br/> cuenta de Twitter<br/>
    <%= image_tag('authbuttons/twitter_64.png', :width => 64, :height => 64) %>
  </a>
</div>