<%= content_for :top do %>
    <h2>Plataforma Booka</h2>
    <%= title t('.title') %>
<% end %>

<h1>Usuario no encontrado</h1>
<p>Parece que no hemos encontrado tu usario usando esa identificación.</p>
<p>Envíate una invitación <%= link_to 'pulsando en este enlace', login_path %></p>
