<% title "Materiales - #{project.title}" %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= render :partial => 'contents/browser', :locals => {:project => project} %>
  </div>
  <div class="col-center">De momento, no hay materiales en este Booka</div>
</div>