<div class="discussion">
  <%= render 'social' if social %>
  <h2>Discusión / Comentarios</h2>
  <%= render :partial => 'comments/form', :locals => {:comment => comment} %>
  <div class="comments">
    <% comment.resource.comments.each do |comment| %>
        <div class="nested-comments">
          <%= nested_comments comment.subtree.arrange(:order => :created_at) %>
        </div>
    <% end %>
  </div>
</div>