
<%= content_for :top do %>
    <%= title 'Comentarios' %>
<% end %>

<% comments.each do |comment| %>
    <h2><%= link_to comment.resource.title, comment %></h2>
    <%= render comment %>
<% end %>

