<h1><%= booka_line.title %></h1>

<%= title 'Crea tu título', :h2 %>
<ul class="navigator">
  <li>COMENZAR</li>
  <span>|</span>
  <li>TU SELECCIÓN</li>
  <span>|</span>
  <li>EXTRAS</li>
  <span>|</span>
  <li>TERMINAR</li>
</ul>