<ul class="browser">
  <h2>Series</h2>
  <% booka_lines.each do |booka_line| %>
      <%= content_tag_for :li, booka_line do %>
          <h3><%= link_to booka_line.title, booka_line %></h3>
      <% end %>
  <% end %>
</ul>
<br/>
<br/>
<br/>
<h2>Bookas activos</h2>
<ul class="projects">
  <% projects.each do |project| %>
      <li><h3><%= link_to project.title, project %></h3></li>
  <% end %>
</ul>


