<ul class="browser">
  <h2>Series</h2>
  <% booka_lines.each do |booka_line| %>
      <%= content_tag_for :li, booka_line do %>
          <h3><%= link_to booka_line.title, booka_line %></h3>
      <% end %>
  <% end %>
</ul>
