
@import "variables.css.scss";

/** ELEMENTS **/
html {
  color: $c-blue;
  font-family: $font-body;
}

h1, h2, h3 {font-family: $font-title; line-height:1em; margin: 0;}
h1 {font-size: 30px;}
h2 {font-size: 20px;}
h4 {font-family: $font-subtitle;letter-spacing: 0.05em;}
a {color: $c-link; text-decoration:none;border-bottom:none;}
a:hover {color: $c-green; }
li {border:0;list-style: none;}
p {margin: 10px 0;}
strong {font-weight:bold;}

/** LAYOUT */
#page {margin-top: 10px; margin-bottom: 30px;}

/** HEADER **/
#booka {
    float: left;
    a {margin-right: 0.5em;}
}
#flash_notice {
    padding: 0.5em 1em;
    text-align:center;
    background-color:$c-yellow;
    margin: 0 0 1em 0;
    cursor:pointer;
}

#header {
    ul.navigator {width: 100%; overflow: hidden; margin-bottom:2em;}
    ul.navigator li {float: left; color: $c-green;}
    ul.navigator span {display:block;float:left; padding:0 0.5em;}
    h1, h2, h3 {border-bottom: $b-dot;}
    h1 {font-size:70px;font-style: italic; margin-bottom: 5px;}
    h2 {font-size:36px;padding-bottom:5px;font-style:normal;margin-bottom: 5px; margin-top: 60px;}
    h4 {font-size: 90%; margin-top: 3px;}
    div.button-group {margin-top:10px;}
}


/** LISTS IN COLUMNS **/
div#browser, div#info {
    ul {margin-bottom: 0em;}
    ul > a {color: $c-green;}
    ul li {border-bottom: $b-dot; padding: 0.7em 0 0.3em 0;}
    ul li h3 {font-size: 16px; border:0;font-style: italic;}
}
@mixin deprecated {
    margin-top: 0em; border-bottom: $b-dot;
    font-size: 18px; padding-bottom: 0.3em;font-style:normal;
    margin-bottom: 0.5em;
}

div#browser h2, div#info   h2 {
    margin-top: 0em; border-bottom: $b-dot;
    font-family: $font-body;
    font-size: 14px; padding-bottom: 0.3em;font-style:normal;text-transform:uppercase;
    margin-bottom: 0.5em;
}


/** BODY **/
.body {
    width: 95%;
    font-family: $font-body; font-size:15px;
    p {margin: 1em 0; line-height:1.2em;}

    h1:first-child, h2:first-child {margin-top: 0;}

    h1, h2 {font-size: 22px; border-bottom:none;font-style:normal;margin: 1em 0 1.5em 0;}
    h2 { }
    em {font-style:italic;}
    strong {font-weight:bold;}
}



/** ADMIN **/
#admin {position: fixed; bottom: 0;right:0; padding: 1px 0px 1px 0; text-align:right;
background-color: white; opacity: 0.8;z-index:5000;}
#admin a {color: #c00; padding: 0 0.3em;}

/** CONTACT **/
#contact {margin-top: 2em; margin-bottom: 2em; padding: 0.5em 0;
    border-top: $b-dot; line-height: 1.5em;
    font-family: 'Georgia', sans-serif; font-size: 12px; color: $c-blue-lt; }