/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/


table.assets {
    td div.image.thumb {width: 60px;}
    td img {max-width: 100%;}
}

div.assets {
    div.asset {
        .description {margin: -3px 0 10px 0;}
    }
}