
@import "variables.css.scss";

#contents_search {
    input[type=text] {width: 100%; border: 1px solid $c-blue; margin-bottom: 5px;}
}

#carte_books_content_editor {
    .step {
        margin: 10px 0;
        width: 100%; overflow: hidden;
        background-color: lighten($c-blue,65%);
        padding: 1em;
        border-radius: 5px;
        input[type=text] {border: 1px solid $c-blue; padding: 2px; width: 10em;}
    }

    ul.index {
        a.action {display: block; font-size: 12px; float: right;}
    }


}

.carte_book {
    ul.index {
      margin: 10px 5px;

      li {padding: 2px 5px; border-bottom: 0px solid $c-blue-lt;}
      li.section {font-size: 120%;}
      li.content {padding-left: 20px;}

      a.action {display: none;}

    }

    pre.raw {display: none;}
}

