/** RESPONSES **/

@import "variables.css.scss";

div.response {
    border-left: 2px solid $c-blue;
    padding-left:1em;
}

div.topic {
    div.response {
        div.button-group {margin: 3px 0;}
        div.discussion {margin-top: 0;}
    }
}