<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="width: 450px; margin: 20px auto; padding: 10px; ">
<%= yield %>
</body>
</html>
