<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="padding:15px; font-family:'HelveticaNeue',Helvetica,Arial,sans-serif;">
<%= yield %>
</body>
</html>
